body {
  background-image: linear-gradient(
    to top,
    #fcc5e4 0%,
    #fda34b 15%,
    #ff7882 35%,
    #c8699e 52%,
    #7046aa 71%,
    #0c1db8 87%,
    #020f75 100%
  );
}
.search-form {
  display: block;
  margin: 0 auto;
  padding: 20px 0;
}

h1 {
  text-align: center;
  font-family: "alfa slab one", cursive;
  font-weight: 100;
  font-size: 64px;
  color: white;
  padding: 10px 0;
  margin-bottom: 0;
}

.condition {
  display: block;
  margin: 0 auto;
}

.data {
  text-align: center;
  font-size: 64px;
  font-weight: 10px;
  height: 22;
  color: white;
  font-family: "alfa slab one", cursive;
}

.active {
  cursor: default;
  text-decoration: none;
}

.active:hover {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  font-size: 16px;
  line-height: 1.2;
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
  color: white;
  font-family: "alfa slab one", cursive;
}

.units {
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  position: relative;
  top: -32px;
}

.alice {
  display: block;
  margin: 0 auto;
  width: 430px;
}

.row {
  text-align: center;
  font-family: "alfa slab one", cursive;
  color: white;
  font-size: 20px;
}

.weather-app {
  border: 1px solid;
  border-radius: 15px;
  padding: 20px;
  margin: 0 auto;
  max-width: 800px;
}
